<h1> Welcome to Rewsly </h1>

</br>

<%= form_tag "/", method: "GET" do %>
	<%= text_field_tag :q %>
	<%= submit_tag "Search" %>
	<% end %>

</br>

<h3><%= link_to "Add a new story", new_story_path %></h3>

<%= render "list" %>